{{extend './layouts/home.html'}}
{{block 'title'}}{{'低电量车'}}{{/block}}

{{block 'content'}}
	<div class="content-wrapper" id="main">
	    <section class="content-header">
	      <h1>
	     	低电量车列表
	        <small>车辆列表</small>
		  </h1>
	    </section>
	    <!-- 右边内容 -->
	    <section class="content container-fluid">
	      	<div class="row">
				<div class="col-md-1"></div>
	      		<div class="col-md-10">
	      			<div class="row">
	      				<div class="col-md-6">
	      					<form class="form-inline" action="/cars/low/findOne" method="get">
	      							<div class="form-group has-feedback">
	      							<label class="control-label" for="inputGroupSuccess3">车辆自编号:</label>
	      							<div class="input-group">
	      								<span class="input-group-addon text-blue"><i class="fa fa-search"></i></span>
	      								<input type="text" class="form-control" id="input" name="carId" placeholder="请输入车辆自编号" >
	      							</div>
	      							</div>
	      							<button id="inspect" type="submit" class="btn btn-info">查询</button>
	      					</form>
	      				</div>
	      				<div class="col-md-6">
	      					<a id="reset" href="/low/reset"><button class="btn btn-default" >重置</button></a>
	      					<button class="btn btn-link">展开<i class="fa fa-angle-down"></i></button>
	      				</div>
	      			</div>
					<div class="row" id="btns">
						<a href="/cars/low/export"><button class="btn btn-info btn1">导出</button></a>
						<button class="btn btn-info btn2"><i class="fa fa-cog"></i>&nbsp;设置</button>
					</div>
	
									<!--表部分-->
			
						<table  class="table table-striped table-hover">
							  <tbody>
								<tr class="info">
								  <th scope="col">车辆自编号</th>
								  <th scope="col">车辆型号</th>
								  <th scope="col">线路</th>
								  <th scope="col">车牌号</th>
								  <th scope="col">启用时间</th>
								  <th scope="col">剩余电量</th>
								  <th scope="col">状态</th>
								  <th scope="col">续航里程</th>
								  <th scope="col">日行驶里程</th>
								  <th scope="col">操作</th>
								</tr>
								{{each details}}
									<tr>
									  <td>{{$value.carId}}</td>
									  <td>{{$value.carType}}</td>
									  <td>{{$value.route}}</td>
									  <td>{{$value.carNumber}}</td>
									  <td>2019/9/9</td>
									  <td>{{$value.rest}}</td>
									  <td>{{$value.status}}</td>
									  <td>{{$value.distance}}</td>
										<td>{{$value.driveDistance}}</td>
									  <td><a href="/cars/charge?carId={{ $value.carId }}">充电记录</a></td>
									</tr>
								{{/each}}
							  </tbody>
							</table>
					
					<!--分页-->
					<div class="btn-toolbar" role="group" aria-label="...">
						  <div class="btn-group" role="group" aria-label="...">
							  <button type="button" class="btn btn-default ">&laquo;</button>
							  <button type="button" class="btn btn-default">1</button>
							  <button type="button" class="btn btn-default">2</button>
							  <button type="button" class="btn btn-default">3</button>
							  <button type="button" class="btn btn-default">4</button>
							  <button type="button" class="btn btn-default">5</button>
							  <button type="button" class="btn btn-default">6</button>
							  <button type="button" class="btn btn-default">7</button>
							  <button type="button" class="btn btn-default">8</button>
							  <button type="button" class="btn btn-default">9</button>
							  <button type="button" class="btn btn-default">&raquo;</button>	
							</div>
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									10条/页
	
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
								</ul>
							</div>
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn btn-default" > 跳至第5页</button>
							</div>
						</div>	
	     		</div>
	      	</div>
	    </section>
	</div>
{{/block}}

{{block 'script' }}
	<script>
	var tbObj=document.getElementsByTagName("table")[0];
	var trObjs=tbObj.children[0].children;//获取tr
	//设置电量低于10%则显示红色
	for(var i=1;i<trObjs.length;i++){
		var values=trObjs[i].children[5].innerHTML;
		if(parseInt(values)<=10){
			trObjs[i].children[5].style.color="#ef6155";
		}
		
	}
	//设置处于熄火状态则显示红色
	for(var i=1;i<trObjs.length;i++){
		var value1=trObjs[i].children[6].innerHTML;
		if(value1=="熄火"){
			trObjs[i].children[6].style.color="#ef6155";
		}
		}
		
		//根据车辆自编号查找车辆,并判断是否查询成功
		document.getElementById("inspect").onclick=function(){
			var flag=0
			var val=document.getElementById('input').value
			for(var i=1;i<trObjs.length;i++){
				var values=trObjs[i].children[0].innerHTML;
				if(values==val){
					flag=1
					break
				}
			}
			if(!flag){
				alert('未找到该车辆，请重新输入')
			}
		}
	</script>
{{/block}}
	