{{extend './layouts/home.html'}}
{{block 'title'}}{{'报表下载'}}{{/block}}

{{block 'content' }}
	<div class="content-wrapper" id="main">
	    <section class="content-header">
	      <h1>
	       报表下载
	        <small>报表下载</small>
		  </h1>
	    </section>
	    <!-- 右边内容 -->
	    <section class="content container-fluid">
	      	<div class="row">
				<div class="col-md-1"></div>
	      		<div class="col-md-10">
	      			<!--三按钮-->
	     			<div class="btn-group" role="group" >
	      				<button type="button" class="btn btn-default"><a href="#">日报</a></button>
						<button type="button" class="btn btn-default"><a  href="#">月报</a></button>
						<button type="button" class="btn btn-default"><a  href="#">年报</a></button>
					</div>
					<!--表部分-->
					<table class="table table-striped table-hover">
							  <tbody>
								<tr class="info">
								  <th>报表类型</th>
								  <th>报表时间</th>
								  <th>下载</th>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
								  </td>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
								  </td>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
									</td>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
								  </td>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
								  </td>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
								  </td>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
								  </td>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
								  </td>
								</tr>
								<tr>
								  <td>日报</td>
								  <td>2018-10-1</td>
								  <td>
									<a>车辆报表|</a>
									<a>车型报表|</a>
									<a>车辆&车型报表</a>
								  </td>
								</tr>
							  </tbody>
							</table>
					<!--分页-->
					<div class="btn-toolbar" role="group" aria-label="...">
						  <div class="btn-group" role="group" aria-label="...">
							  <button type="button" class="btn btn-default ">&laquo;</button>
							  <button type="button" class="btn btn-default">1</button>
							  <button type="button" class="btn btn-default">2</button>
							  <button type="button" class="btn btn-default">3</button>
							  <button type="button" class="btn btn-default">4</button>
							  <button type="button" class="btn btn-default">5</button>
							  <button type="button" class="btn btn-default">6</button>
							  <button type="button" class="btn btn-default">7</button>
							  <button type="button" class="btn btn-default">8</button>
							  <button type="button" class="btn btn-default">9</button>
							  <button type="button" class="btn btn-default">&raquo;</button>	
							</div>
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									10条/页
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
								</ul>
							</div>
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" class="btn btn-default" > 跳至第5页</button>
							</div>
						</div>	
	     		</div>
	      	</div>
	    </section>
	</div>
{{/block}}

	